html {
	height: 100% 
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 15px;
}
		  
.mapCanvas {
	height: calc(100% - 10vh);
	width: calc(100% - 5vw);
}

main,
.row,
.col-md-9 {
	height: 100%;
}